//! Proc-macro: {{ macro_name | default(value="MyMacro") }}

use proc_macro::TokenStream;
use quote::quote;
use syn::{parse_macro_input, DeriveInput};

#[proc_macro_derive({{ macro_name | default(value="MyMacro") }})]
pub fn derive_{{ macro_fn | default(value="my_macro") }}(input: TokenStream) -> TokenStream {
    let input = parse_macro_input!(input as DeriveInput);
    let name = &input.ident;
    let expanded = quote! {
        impl {{ macro_name | default(value="MyMacro") }}Trait for #name {}
    };
    TokenStream::from(expanded)
}
